<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
{{ include('navbar.html.twig') }}
<div class="container">
    {% block main %}{% endblock %}
    {% block body %}{% endblock %}

    {% block footer %}
        <footer class="app-footer">
            <div class="container">
                <!--Copyright-->
                <div>
                    <div class="container-fluid text-center">
                        Copyright &copy; {{ "now"|date("Y") }} <a
                                href="http://www.iut-lens.univ-artois.fr/" target="_blank"><b>IUT Lens - département
                                Info.</b></a>
                    </div>
                </div>
            </div>
        </footer>
    {% endblock %}


</div>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>